h1{
    color: rgb(66, 45, 45);
}
h1, h2, footer{
    text-align: center;
}
body{
    font-size: larger;
}
img{
    width:60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}

*{
    background-color: antiquewhite;
    color: rgb(68, 58, 58);
}
ul{
    list-style-type:square;
}
a{
    color: blue;
    white-space: nowrap;
    margin: 5px;
}
footer{
    font-size: small;
}
.next{
   float: right;
}
/* 
oder:
.next{
position: absolute;
   right: 0; 
}*/